body{
    margin: 10px;
    padding: 0;
}
.nav{
    background: green;
    color: #c4d436;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
#head{
    margin: 10px;
    padding: 10px;
}
ul{
    
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    justify-items: center;
}
.hyper{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    
}
li:hover{
    color: aqua;
}
#signin:hover{
    color: aqua;
}
table{
    width: 80%;
    margin-top: 40px;
}
.data{
    
    text-align: center;
}
